Interface-Example.json
[{"id":"b5468572.52eb68","type":"tab","label":"Main","disabled":false,"info":""},{"id":"7165890a.d28d3","type":"tab","label":"Testing","disabled":false,"info":""},{"id":"3ea1d7d1.27ecc","type":"ui_group","z":"","name":"Menü Buttons","tab":"94e5fa38.a84d98","order":1,"disp":true,"width":"4","collapse":false},{"id":"54e9a97f.6ac26","type":"ui_group","z":"","name":"Akkustand der Sensoren","tab":"94e5fa38.a84d98","order":3,"disp":true,"width":"16","collapse":false},{"id":"ff1aaa60.5cb458","type":"ui_group","z":"","name":"Übersicht","tab":"94e5fa38.a84d98","order":2,"disp":true,"width":"16","collapse":false},{"id":"e9a39812.d14df8","type":"ui_group","z":"","name":"Download","tab":"94e5fa38.a84d98","order":6,"disp":true,"width":16,"collapse":false},{"id":"db05c47f.cbbfe","type":"ui_group","z":"","name":"Kalibrierung","tab":"94e5fa38.a84d98","order":5,"disp":true,"width":"16","collapse":false},{"id":"dcb2379c.562f08","type":"ui_group","z":"","name":"Messung","tab":"94e5fa38.a84d98","order":4,"disp":true,"width":"16","collapse":false},{"id":"40e96918.196f78","type":"ui_group","z":"","name":"Hinzufügen oder Löschen","tab":"94e5fa38.a84d98","order":7,"disp":true,"width":"16","collapse":false},{"id":"94e5fa38.a84d98","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"539ce2a4.4c9574","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"dark","default":"#4B7930","baseColor":"#000000","baseFont":"Arial,Arial,Helvetica,sans-serif","reset":false},"themeState":{"base-color":{"default":"#000000","value":"#000000","edited":true},"page-titlebar-backgroundColor":{"value":"#0000ff","edited":true},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#4f4f4f","edited":true},"group-textColor":{"value":"#72d8e7","edited":true},"group-borderColor":{"value":"#ffffff","edited":true},"group-backgroundColor":{"value":"#414141","edited":true},"widget-textColor":{"value":"#ffffff","edited":true},"widget-backgroundColor":{"value":"#ff962d","edited":true},"widget-borderColor":{"value":"#5e5e5e","edited":true},"base-font":{"value":"Arial,Arial,Helvetica,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"true","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":20,"gy":20,"cx":10,"cy":10,"px":47,"py":0}}},{"id":"bdc7f298.17537","type":"ui_tab","z":"","name":"Testing","icon":"dashboard","disabled":false,"hidden":false},{"id":"6287942d.e3c16c","type":"ui_group","z":"","name":"Default","tab":"bdc7f298.17537","disp":true,"width":"6","collapse":false},{"id":"aac9aeb5.531418","type":"ui_spacer","name":"spacer","group":"ff1aaa60.5cb458","order":10,"width":8,"height":1},{"id":"9d38f988.e64678","type":"ui_spacer","name":"spacer","group":"ff1aaa60.5cb458","order":12,"width":1,"height":1},{"id":"5d1ce3eb.46ed5c","type":"ui_spacer","name":"spacer","group":"ff1aaa60.5cb458","order":14,"width":1,"height":1},{"id":"b56a63bf.8069b","type":"ui_spacer","name":"spacer","group":"ff1aaa60.5cb458","order":16,"width":11,"height":1},{"id":"4f8d5e20.740ef","type":"ui_spacer","name":"spacer","group":"ff1aaa60.5cb458","order":18,"width":4,"height":1},{"id":"39c7a25d.9e130e","type":"ui_spacer","name":"spacer","group":"dcb2379c.562f08","order":1,"width":1,"height":1},{"id":"da8062f0.fea208","type":"ui_spacer","name":"spacer","group":"dcb2379c.562f08","order":3,"width":7,"height":1},{"id":"6f40f880.55e738","type":"ui_spacer","name":"spacer","group":"dcb2379c.562f08","order":4,"width":1,"height":1},{"id":"f97639d0.af3da","type":"ui_spacer","name":"spacer","group":"dcb2379c.562f08","order":5,"width":7,"height":1},{"id":"48a67bf0.062264","type":"ui_spacer","name":"spacer","group":"dcb2379c.562f08","order":6,"width":1,"height":1},{"id":"4663c853.34118","type":"ui_spacer","name":"spacer","group":"dcb2379c.562f08","order":7,"width":7,"height":1},{"id":"f42f7f3b.a0a1c8","type":"ui_spacer","name":"spacer","group":"dcb2379c.562f08","order":8,"width":1,"height":1},{"id":"59d98e25.75216","type":"ui_spacer","name":"spacer","group":"dcb2379c.562f08","order":9,"width":1,"height":1},{"id":"83a89672.9ff41","type":"ui_spacer","name":"spacer","group":"dcb2379c.562f08","order":11,"width":1,"height":1},{"id":"3f8251e8.096e46","type":"ui_spacer","name":"spacer","group":"dcb2379c.562f08","order":12,"width":1,"height":1},{"id":"8512a934.dc9818","type":"ui_spacer","name":"spacer","group":"dcb2379c.562f08","order":13,"width":1,"height":1},{"id":"45e31b3d.e885b4","type":"ui_spacer","name":"spacer","group":"dcb2379c.562f08","order":15,"width":1,"height":1},{"id":"654e2e7d.3fe32","type":"ui_spacer","name":"spacer","group":"dcb2379c.562f08","order":16,"width":1,"height":1},{"id":"7d2db2f0.de6e44","type":"ui_spacer","name":"spacer","group":"dcb2379c.562f08","order":17,"width":7,"height":1},{"id":"d726b826.302108","type":"ui_spacer","name":"spacer","group":"dcb2379c.562f08","order":18,"width":1,"height":1},{"id":"cfe179df.89ed48","type":"ui_spacer","name":"spacer","group":"dcb2379c.562f08","order":19,"width":1,"height":1},{"id":"10196f9.3b6241","type":"ui_spacer","name":"spacer","group":"dcb2379c.562f08","order":21,"width":1,"height":1},{"id":"62c58c71.148914","type":"ui_spacer","name":"spacer","group":"dcb2379c.562f08","order":22,"width":1,"height":1},{"id":"de98f399.694f6","type":"ui_spacer","name":"spacer","group":"dcb2379c.562f08","order":23,"width":7,"height":1},{"id":"c29035c5.6f3bf8","type":"ui_spacer","name":"spacer","group":"dcb2379c.562f08","order":24,"width":1,"height":1},{"id":"97397be6.766b","type":"ui_spacer","name":"spacer","group":"dcb2379c.562f08","order":25,"width":7,"height":1},{"id":"b12b6e4f.0b1fc8","type":"ui_spacer","name":"spacer","group":"dcb2379c.562f08","order":26,"width":12,"height":1},{"id":"30527418.4e9f7c","type":"ui_spacer","name":"spacer","group":"dcb2379c.562f08","order":28,"width":2,"height":1},{"id":"17914a1a.94b85e","type":"ui_spacer","name":"spacer","group":"db05c47f.cbbfe","order":1,"width":16,"height":1},{"id":"f2df5f80.00da4","type":"ui_spacer","name":"spacer","group":"db05c47f.cbbfe","order":2,"width":1,"height":1},{"id":"f0e32de1.86d7","type":"ui_spacer","name":"spacer","group":"db05c47f.cbbfe","order":6,"width":1,"height":1},{"id":"412d7ff9.b2801","type":"ui_spacer","name":"spacer","group":"db05c47f.cbbfe","order":7,"width":1,"height":1},{"id":"613442ec.26e554","type":"ui_spacer","name":"spacer","group":"db05c47f.cbbfe","order":11,"width":1,"height":1},{"id":"24845935.65f8e6","type":"ui_spacer","name":"spacer","group":"db05c47f.cbbfe","order":12,"width":1,"height":1},{"id":"4c09ddd2.6cd244","type":"ui_spacer","name":"spacer","group":"db05c47f.cbbfe","order":16,"width":1,"height":1},{"id":"418f5a9.bc6ffa4","type":"ui_spacer","name":"spacer","group":"db05c47f.cbbfe","order":17,"width":1,"height":1},{"id":"d1f5c6b6.1d4f78","type":"ui_spacer","name":"spacer","group":"db05c47f.cbbfe","order":21,"width":1,"height":1},{"id":"ba854ff5.41ecb","type":"ui_spacer","name":"spacer","group":"db05c47f.cbbfe","order":22,"width":10,"height":1},{"id":"8c957b3a.f3dc4","type":"ui_spacer","name":"spacer","group":"db05c47f.cbbfe","order":24,"width":1,"height":1},{"id":"cea0a695.a2ff6","type":"ui_spacer","name":"spacer","group":"db05c47f.cbbfe","order":25,"width":1,"height":1},{"id":"a4031e68.4728b","type":"ui_spacer","name":"spacer","group":"db05c47f.cbbfe","order":27,"width":10,"height":1},{"id":"22a73ea4.8a7b2a","type":"ui_spacer","name":"spacer","group":"db05c47f.cbbfe","order":28,"width":1,"height":1},{"id":"cb93cd41.da051","type":"ui_spacer","name":"spacer","group":"db05c47f.cbbfe","order":29,"width":10,"height":1},{"id":"d85533c7.386268","type":"ui_spacer","name":"spacer","group":"db05c47f.cbbfe","order":30,"width":16,"height":1},{"id":"6dc1e8b3.9260e","type":"ui_spacer","name":"spacer","group":"db05c47f.cbbfe","order":31,"width":11,"height":1},{"id":"f1762926.16fef8","type":"ui_spacer","name":"spacer","group":"db05c47f.cbbfe","order":33,"width":3,"height":1},{"id":"38ddb6e7.61087a","type":"ui_spacer","name":"spacer","group":"e9a39812.d14df8","order":2,"width":16,"height":1},{"id":"aa3a3227.85b71","type":"ui_spacer","name":"spacer","group":"e9a39812.d14df8","order":3,"width":16,"height":1},{"id":"d3ef756a.277e4","type":"ui_spacer","name":"spacer","group":"e9a39812.d14df8","order":4,"width":16,"height":1},{"id":"ddbcf4dd.13ba1","type":"ui_spacer","name":"spacer","group":"e9a39812.d14df8","order":5,"width":1,"height":1},{"id":"51f40874.743d7","type":"ui_spacer","name":"spacer","group":"e9a39812.d14df8","order":7,"width":2,"height":1},{"id":"e424aff8.c944d8","type":"ui_spacer","name":"spacer","group":"e9a39812.d14df8","order":9,"width":1,"height":1},{"id":"cfa70cbe.ada1b","type":"ui_spacer","name":"spacer","group":"e9a39812.d14df8","order":10,"width":1,"height":1},{"id":"ecb0605b.fb585","type":"ui_spacer","name":"spacer","group":"e9a39812.d14df8","order":11,"width":2,"height":1},{"id":"bb6016e4.80895","type":"ui_spacer","name":"spacer","group":"e9a39812.d14df8","order":12,"width":1,"height":1},{"id":"19f13678.4f6b8a","type":"ui_spacer","name":"spacer","group":"e9a39812.d14df8","order":13,"width":1,"height":1},{"id":"adbe907d.04fd68","type":"ui_spacer","name":"spacer","group":"e9a39812.d14df8","order":14,"width":2,"height":1},{"id":"f476f30a.f3e698","type":"ui_spacer","name":"spacer","group":"e9a39812.d14df8","order":15,"width":1,"height":1},{"id":"6d413fb.22cdbc","type":"ui_spacer","name":"spacer","group":"e9a39812.d14df8","order":16,"width":16,"height":1},{"id":"5c8d179e.bbb828","type":"ui_spacer","name":"spacer","group":"e9a39812.d14df8","order":17,"width":16,"height":1},{"id":"5136c9eb.8727d8","type":"ui_spacer","name":"spacer","group":"e9a39812.d14df8","order":18,"width":16,"height":1},{"id":"450f49e2.e4eac","type":"ui_spacer","name":"spacer","group":"e9a39812.d14df8","order":19,"width":4,"height":1},{"id":"88bc10b4.581ae","type":"ui_spacer","name":"spacer","group":"e9a39812.d14df8","order":21,"width":11,"height":1},{"id":"53b69432.6235bc","type":"ui_spacer","name":"spacer","group":"40e96918.196f78","order":1,"width":14,"height":1},{"id":"a56da61b.3acce8","type":"ui_spacer","name":"spacer","group":"40e96918.196f78","order":3,"width":16,"height":1},{"id":"3558d71d.d97398","type":"ui_spacer","name":"spacer","group":"40e96918.196f78","order":5,"width":2,"height":1},{"id":"7d0aa252.2e81d4","type":"ui_spacer","name":"spacer","group":"40e96918.196f78","order":7,"width":2,"height":1},{"id":"b574fab3.ffb17","type":"ui_spacer","name":"spacer","group":"40e96918.196f78","order":8,"width":2,"height":1},{"id":"20300f9b.c1e308","type":"ui_spacer","name":"spacer","group":"40e96918.196f78","order":9,"width":2,"height":1},{"id":"d018ae30.9dc718","type":"ui_spacer","name":"spacer","group":"40e96918.196f78","order":10,"width":9,"height":1},{"id":"43941d87.bd6af4","type":"ui_spacer","name":"spacer","group":"40e96918.196f78","order":11,"width":9,"height":1},{"id":"5ad8e492.72130c","type":"ui_spacer","name":"spacer","group":"40e96918.196f78","order":12,"width":16,"height":1},{"id":"594a5cd6.7b54ac","type":"ui_spacer","name":"spacer","group":"40e96918.196f78","order":13,"width":1,"height":1},{"id":"a5308453.1868f","type":"ui_spacer","name":"spacer","group":"3ea1d7d1.27ecc","order":6,"width":1,"height":1},{"id":"7fd0e35e.1cf14c","type":"ui_spacer","name":"spacer","group":"3ea1d7d1.27ecc","order":5,"width":"4","height":1},{"id":"a2185103.d80cf8","type":"ui_button","z":"b5468572.52eb68","name":"Übersicht Button","group":"3ea1d7d1.27ecc","order":1,"width":4,"height":2,"passthru":false,"label":"<font size=4>Übersicht","tooltip":"","color":"white","bgcolor":"blue","icon":"","payload":"{\"group\":{\"hide\":[\"Home_Messung\",\"Home_Download\",\"Home_Kalibrierung\",\"Home_Hinzufügen_oder_Löschen\"],\"show\":[\"Home_Übersicht\",\"Home_Akkustand_der_Sensoren\",\"Home_Menü_Buttons\"]}}","payloadType":"json","topic":"","x":720,"y":140,"wires":[["f7865f38.2c83a"]]},{"id":"b189890d.7d21a8","type":"ui_button","z":"b5468572.52eb68","name":"Messung Button","group":"3ea1d7d1.27ecc","order":3,"width":4,"height":2,"passthru":false,"label":"<font size=4>Messung","tooltip":"","color":"white","bgcolor":"orange","icon":"","payload":"{\"group\":{\"hide\":[\"Home_Übersicht\",\"Home_Akkustand_der_Sensoren\",\"Home_Download\",\"Home_Kalibrierung\",\"Home_Hinzufügen_oder_Löschen\"],\"show\":[\"Home_Messung\",\"Home_Menü_Buttons\"]}}","payloadType":"json","topic":"","x":720,"y":180,"wires":[["f7865f38.2c83a"]]},{"id":"92f54c87.8fd93","type":"ui_button","z":"b5468572.52eb68","name":"Download Button","group":"3ea1d7d1.27ecc","order":4,"width":4,"height":2,"passthru":false,"label":"<font size=4>Download","tooltip":"","color":"white","bgcolor":"#66CD00","icon":"","payload":"{\"group\":{\"hide\":[\"Home_Übersicht\",\"Home_Messung\",\"Home_Akkustand_der_Sensoren\",\"Home_Kalibrierung\",\"Home_Hinzufügen_oder_Löschen\"],\"show\":[\"Home_Download\",\"Home_Menü_Buttons\"]}}","payloadType":"json","topic":"","x":710,"y":260,"wires":[["f7865f38.2c83a"]]},{"id":"5f5a5525.68cfd4","type":"ui_gauge","z":"b5468572.52eb68","name":"Gauge Sensor 1","group":"54e9a97f.6ac26","order":1,"width":4,"height":3,"gtype":"gage","title":"Sensor 1","label":"Volt in %","format":"{{value | number:1}}%","min":0,"max":"100","colors":["#ff0000","#e6e600","#00ff00"],"seg1":"","seg2":"","x":1200,"y":1000,"wires":[]},{"id":"939c83cb.1583e8","type":"ui_gauge","z":"b5468572.52eb68","name":"Gauge Sensor 2","group":"54e9a97f.6ac26","order":2,"width":4,"height":3,"gtype":"gage","title":"Sensor 2","label":"Volt in %","format":"{{value | number:1}}%","min":0,"max":"100","colors":["#ff0000","#e6e600","#00ff00"],"seg1":"","seg2":"","x":1200,"y":1040,"wires":[]},{"id":"80c7e2c3.a34cf8","type":"ui_gauge","z":"b5468572.52eb68","name":"Gauge Sensor 3","group":"54e9a97f.6ac26","order":3,"width":4,"height":3,"gtype":"gage","title":"Sensor 3","label":"Volt in %","format":"{{value | number:1}}%","min":0,"max":"100","colors":["#ff0000","#e6e600","#00ff00"],"seg1":"","seg2":"","x":1200,"y":1080,"wires":[]},{"id":"ce87641.9a54418","type":"ui_gauge","z":"b5468572.52eb68","name":"Gauge Sensor 4","group":"54e9a97f.6ac26","order":4,"width":4,"height":3,"gtype":"gage","title":"Sensor 4","label":"Volt in %","format":"{{value | number:1}}%","min":0,"max":"100","colors":["#ff0000","#e6e600","#00ff00"],"seg1":"","seg2":"","x":1200,"y":1120,"wires":[]},{"id":"ed9cc7c5.aec8c","type":"ui_text","z":"b5468572.52eb68","group":"ff1aaa60.5cb458","order":2,"width":7,"height":1,"name":"Nachricht Ampel grün","label":"","format":"<font size=5><font color=lime>{{msg.payload}}","layout":"col-center","x":1100,"y":680,"wires":[]},{"id":"298b3d0d.e134e2","type":"ui_ui_control","z":"b5468572.52eb68","name":"LED Zustand","events":"all","x":330,"y":700,"wires":[["99b6c499.5734a8"]]},{"id":"7f80a83b.27f5d8","type":"ui_led","z":"b5468572.52eb68","group":"ff1aaa60.5cb458","order":1,"width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"lime","value":"true","valueType":"bool"},{"color":"null","value":"false","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"LED Grün","x":1060,"y":480,"wires":[]},{"id":"aa03665e.26e9e","type":"ui_text","z":"b5468572.52eb68","group":"ff1aaa60.5cb458","order":3,"width":8,"height":1,"name":"Ort der Messung Anzeige","label":"<font size=4>Ort der Messung:","format":"<font size=4>{{msg.payload}}","layout":"row-spread","x":1130,"y":1380,"wires":[]},{"id":"13f5d368.c24a05","type":"ui_text","z":"b5468572.52eb68","group":"ff1aaa60.5cb458","order":11,"width":8,"height":1,"name":"Start Datum Anzeige","label":"<font size=4>Start Datum:","format":"<font size=4>{{msg.payload}}","layout":"row-spread","x":1120,"y":1540,"wires":[]},{"id":"f941b8fa.f14f58","type":"ui_text","z":"b5468572.52eb68","group":"ff1aaa60.5cb458","order":6,"width":8,"height":1,"name":"User Name Anzeige","label":"<font size=4>User Name:","format":"<font size=4>{{msg.payload}}","layout":"row-spread","x":1120,"y":1500,"wires":[]},{"id":"2fef36fb.ddb872","type":"ui_text","z":"b5468572.52eb68","group":"ff1aaa60.5cb458","order":9,"width":8,"height":1,"name":"Abgeschlossen am Anzeige","label":"<font size=4>Abgeschlossen am:","format":"<font size=4>{{msg.payload}}","layout":"row-spread","x":1140,"y":1460,"wires":[]},{"id":"db3dd47a.9b891","type":"ui_text","z":"b5468572.52eb68","group":"ff1aaa60.5cb458","order":15,"width":8,"height":1,"name":"Verbleibende Zeit Anzeige","label":"<font size=4>Verbleibende Zeit:","format":"<font size=4>{{msg.payload}}","layout":"row-spread","x":1130,"y":1420,"wires":[]},{"id":"f7865f38.2c83a","type":"ui_ui_control","z":"b5468572.52eb68","name":"","events":"all","x":1000,"y":80,"wires":[[]]},{"id":"d3e63b8c.b70ba8","type":"inject","z":"b5468572.52eb68","name":"","topic":"","payload":"{\"group\":{\"hide\":[\"Home_Messung\",\"Home_Download\",\"Home_Kalibrierung\",\"Home_Hinzufügen_oder_Löschen\"],\"show\":[\"Home_Menü_Buttons\",\"Home_Übersicht\",\"Home_Akkustand_der_Sensoren\"]}}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":740,"y":80,"wires":[["f7865f38.2c83a"]]},{"id":"2ac177ed.0440b8","type":"ui_text","z":"b5468572.52eb68","group":"db05c47f.cbbfe","order":4,"width":6,"height":1,"name":"Sensor 1 Id","label":"<font size=4>Sensor 1 Id:     ","format":"<font size=4>{{msg.payload}}","layout":"row-spread","x":1110,"y":3480,"wires":[]},{"id":"32f35be8.8908b4","type":"ui_text","z":"b5468572.52eb68","group":"db05c47f.cbbfe","order":9,"width":6,"height":1,"name":"Sensor 2 Id","label":"<font size=4>Sensor 2 Id:     ","format":"<font size=4>{{msg.payload}}","layout":"row-spread","x":1110,"y":3520,"wires":[]},{"id":"fa385024.58a19","type":"ui_text","z":"b5468572.52eb68","group":"db05c47f.cbbfe","order":14,"width":6,"height":1,"name":"Sensor 3 Id","label":"<font size=4>Sensor 3 Id:     ","format":"<font size=4>{{msg.payload}}","layout":"row-spread","x":1110,"y":3560,"wires":[]},{"id":"bc6f34a3.db87e","type":"ui_text","z":"b5468572.52eb68","group":"db05c47f.cbbfe","order":19,"width":6,"height":1,"name":"Sensor 4 Id","label":"<font size=4>Sensor 4 Id:     ","format":"<font size=4>{{msg.payload}}","layout":"row-spread","x":1110,"y":3600,"wires":[]},{"id":"d5dfb5d9.2c80b","type":"ui_text","z":"b5468572.52eb68","group":"db05c47f.cbbfe","order":5,"width":5,"height":1,"name":"Sensor 1 Kalibriert","label":"","format":"<font size=5><font color={{msg.color}}>{{msg.payload}}","layout":"row-center","x":1350,"y":2720,"wires":[]},{"id":"6a149674.f9ab18","type":"ui_text","z":"b5468572.52eb68","group":"db05c47f.cbbfe","order":10,"width":5,"height":1,"name":"Sensor 2 kalibriert","label":"","format":"<font size=5><font color={{msg.color}}>{{msg.payload}}","layout":"row-center","x":1350,"y":2800,"wires":[]},{"id":"8b98e8b5.57f7a","type":"ui_text","z":"b5468572.52eb68","group":"db05c47f.cbbfe","order":15,"width":5,"height":1,"name":"Sensor 3 kalibriert","label":"","format":"<font size=5><font color={{msg.color}}>{{msg.payload}}","layout":"row-center","x":1350,"y":2880,"wires":[]},{"id":"e5e85326.e54b98","type":"ui_text","z":"b5468572.52eb68","group":"db05c47f.cbbfe","order":20,"width":5,"height":1,"name":"Sensor 4 kalibriert","label":"","format":"<font size=5><font color={{msg.color}}>{{msg.payload}}","layout":"row-center","x":1350,"y":2960,"wires":[]},{"id":"380ed014.fd84","type":"ui_button","z":"b5468572.52eb68","name":"Kalibrierung Button","group":"3ea1d7d1.27ecc","order":2,"width":4,"height":2,"passthru":false,"label":"<font size=4>Kalibrierung","tooltip":"","color":"white","bgcolor":"purple","icon":"","payload":"{\"group\":{\"hide\":[\"Home_Übersicht\",\"Home_Akkustand_der_Sensoren\",\"Home_Download\",\"Home_Messung\",\"Home_Hinzufügen_oder_Löschen\"],\"show\":[\"Home_Kalibrierung\",\"Home_Menü_Buttons\"]}}","payloadType":"json","topic":"","x":710,"y":220,"wires":[["f7865f38.2c83a"]]},{"id":"b1c9297d.1ef9a","type":"ui_button","z":"b5468572.52eb68","name":"Messung Beenden Button","group":"dcb2379c.562f08","order":14,"width":5,"height":1,"passthru":false,"label":"<font size=4>Messung Beenden","tooltip":"","color":"white","bgcolor":"red","icon":"","payload":"end","payloadType":"str","topic":"","x":550,"y":2080,"wires":[["99196eef.7165e8"]]},{"id":"50510c83.607d1c","type":"ui_text","z":"b5468572.52eb68","d":true,"group":"db05c47f.cbbfe","order":32,"width":2,"height":1,"name":"Dummy Kalibrierung","label":"","format":"","layout":"row-spread","x":540,"y":3620,"wires":[]},{"id":"e38f7fee.efc448","type":"ui_text","z":"b5468572.52eb68","d":true,"group":"dcb2379c.562f08","order":27,"width":2,"height":1,"name":"Dummy Messung","label":"","format":"{{msg.payload}}","layout":"row-center","x":490,"y":2140,"wires":[]},{"id":"55152d84.a895e4","type":"ui_ui_control","z":"b5468572.52eb68","name":"","events":"all","x":140,"y":1500,"wires":[["69807120.04f7"]]},{"id":"69807120.04f7","type":"http request","z":"b5468572.52eb68","name":"Übersicht GET","method":"GET","ret":"txt","paytoqs":false,"url":"localhost:8080/comonitor/session/sessioninfo","tls":"","persist":false,"proxy":"","authType":"","x":340,"y":1500,"wires":[["be5abbeb.44c77"]]},{"id":"d2f9789b.323318","type":"http request","z":"b5468572.52eb68","name":"Neue Messung starten POST","method":"POST","ret":"txt","paytoqs":false,"url":"localhost:8080/comonitor/session/run","tls":"","persist":false,"proxy":"","authType":"","x":1120,"y":1980,"wires":[["f0b61ebe.713ff8","cb85d595.7cc6c"]]},{"id":"f8fbad14.22c98","type":"ui_ui_control","z":"b5468572.52eb68","name":"","events":"all","x":400,"y":1180,"wires":[["dc06274f.ee9a18"]]},{"id":"dc06274f.ee9a18","type":"http request","z":"b5468572.52eb68","name":"Akku Status GET","method":"GET","ret":"txt","paytoqs":false,"url":"localhost:8080/comonitor/sensors/battery","tls":"","persist":false,"proxy":"","authType":"","x":510,"y":1060,"wires":[["4c56e316.29c6b4"]]},{"id":"4c56e316.29c6b4","type":"json","z":"b5468572.52eb68","name":"","property":"payload","action":"","pretty":false,"x":710,"y":1060,"wires":[["f884ffdb.dbda3","276d1f4e.b07988","fc770cf4.5d30a","1a597239.af7706"]]},{"id":"98501058.1d2018","type":"json","z":"b5468572.52eb68","name":"","property":"payload","action":"str","pretty":false,"x":890,"y":1980,"wires":[["d2f9789b.323318"]]},{"id":"be5abbeb.44c77","type":"json","z":"b5468572.52eb68","name":"","property":"payload","action":"","pretty":false,"x":550,"y":1500,"wires":[["2d2cbdfa.dc083a","49aed2d4.dcbd04","98a01cde.c5e3"]]},{"id":"f884ffdb.dbda3","type":"function","z":"b5468572.52eb68","name":"Gauge Sensor 1","func":"var newMsg = { payload: msg.payload[0].batteryPercent };\nreturn newMsg;","outputs":1,"noerr":0,"x":900,"y":1000,"wires":[["5f5a5525.68cfd4"]]},{"id":"2d2cbdfa.dc083a","type":"function","z":"b5468572.52eb68","name":"Übersicht function","func":"\nvar msg1 = { payload: msg.payload.location };\nvar msg2 = { payload: msg.payload.runtime };\nvar msg3 = { payload: msg.payload.endtime };\nvar msg4 = { payload: msg.payload.user };\nvar msg5 = { payload: msg.payload.startTime };\nreturn [ msg1, msg2, msg3 , msg4 , msg5 ];","outputs":5,"noerr":0,"x":790,"y":1500,"wires":[["aa03665e.26e9e"],["db3dd47a.9b891"],["2fef36fb.ddb872"],["f941b8fa.f14f58"],["13f5d368.c24a05"]]},{"id":"276d1f4e.b07988","type":"function","z":"b5468572.52eb68","name":"Gauge Sensor 2","func":"var newMsg = { payload: msg.payload[1].batteryPercent };\nreturn newMsg;","outputs":1,"noerr":0,"x":900,"y":1040,"wires":[["939c83cb.1583e8"]]},{"id":"fc770cf4.5d30a","type":"function","z":"b5468572.52eb68","name":"Gauge Sensor 3","func":"var newMsg = { payload: msg.payload[2].batteryPercent };\nreturn newMsg;","outputs":1,"noerr":0,"x":900,"y":1080,"wires":[["80c7e2c3.a34cf8"]]},{"id":"1a597239.af7706","type":"function","z":"b5468572.52eb68","name":"Gauge Sensor 4","func":"var newMsg = { payload: msg.payload[3].batteryPercent };\nreturn newMsg;","outputs":1,"noerr":0,"x":900,"y":1120,"wires":[["ce87641.9a54418"]]},{"id":"99196eef.7165e8","type":"ui_toast","z":"b5468572.52eb68","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"Cancel","raw":false,"topic":"Messung Beenden ?","name":"Beenden der Messung","x":800,"y":2080,"wires":[["63a23f0c.063c3"]]},{"id":"9a7a8b88.0b866","type":"http request","z":"b5468572.52eb68","name":"Sensor ID GET","method":"GET","ret":"txt","paytoqs":false,"url":"localhost:8080/comonitor/sensors/battery","tls":"","persist":false,"proxy":"","authType":"","x":480,"y":3520,"wires":[["769028ca.ce74f8"]]},{"id":"769028ca.ce74f8","type":"json","z":"b5468572.52eb68","name":"","property":"payload","action":"","pretty":false,"x":670,"y":3520,"wires":[["867451a.aca28b"]]},{"id":"867451a.aca28b","type":"function","z":"b5468572.52eb68","name":"Name Sensor ","func":"var msg1 = { payload: msg.payload[0].sensorid };\nvar msg2 = { payload: msg.payload[1].sensorid };\nvar msg3 = { payload: msg.payload[2].sensorid };\nvar msg4 = { payload: msg.payload[3].sensorid };\nreturn [ msg1, msg2, msg3 , msg4 ];","outputs":4,"noerr":0,"x":840,"y":3520,"wires":[["2ac177ed.0440b8"],["32f35be8.8908b4"],["fa385024.58a19"],["bc6f34a3.db87e"]]},{"id":"612041ce.5d525","type":"ui_ui_control","z":"b5468572.52eb68","name":"","events":"all","x":300,"y":3600,"wires":[["9a7a8b88.0b866"]]},{"id":"dfe5d33c.6cd398","type":"comment","z":"b5468572.52eb68","name":"Neue Messung initialisieren und Messung beenden","info":"","x":350,"y":1900,"wires":[]},{"id":"98a01cde.c5e3","type":"debug","z":"b5468572.52eb68","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":610,"y":1400,"wires":[]},{"id":"6d566b7c.102d0c","type":"ui_form","z":"b5468572.52eb68","name":"Neue Messung Eingabe","label":"<font size=5>Neue Messung initialisieren","group":"dcb2379c.562f08","order":2,"width":8,"height":9,"options":[{"label":"User Name","value":"user","type":"text","required":true},{"label":"Ort der Messung","value":"location","type":"text","required":true},{"label":"Anzahl der Messtage","value":"runtime","type":"number","required":true},{"label":"Sensor 1","value":"activ1","type":"switch","required":false},{"label":"Sensor 2","value":"activ2","type":"switch","required":false},{"label":"Sensor 3","value":"activ3","type":"switch","required":false},{"label":"Sensor 4","value":"activ4","type":"switch","required":false}],"formValue":{"user":"","location":"","runtime":"","activ1":false,"activ2":false,"activ3":false,"activ4":false},"payload":"","submit":"Messung starten !","cancel":"Abbrechen","topic":"Messung Starten","x":380,"y":1980,"wires":[["98501058.1d2018","6a471041.ddb008"]]},{"id":"863b7237.3b517","type":"http request","z":"b5468572.52eb68","name":"Beenden der Messung DELETE","method":"DELETE","ret":"txt","paytoqs":false,"url":"localhost:8080/comonitor/session/stop","tls":"","persist":false,"proxy":"","authType":"","x":1490,"y":2100,"wires":[["202fe306.914354","50ea7fa9.7a3ac8"]]},{"id":"63a23f0c.063c3","type":"switch","z":"b5468572.52eb68","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Cancel","vt":"str"},{"t":"eq","v":"OK","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":990,"y":2080,"wires":[[],["4561eb97.20fc5c","67381d9c.279f4c"]]},{"id":"cb0c438d.9609d","type":"http request","z":"b5468572.52eb68","name":"raw data GET","method":"GET","ret":"txt","paytoqs":false,"url":"localhost:8080/comonitor/download/raw","tls":"","persist":false,"proxy":"","authType":"","x":860,"y":2340,"wires":[[]]},{"id":"efbb8f73.5d2418","type":"http request","z":"b5468572.52eb68","name":"csv data GET","method":"GET","ret":"txt","paytoqs":false,"url":"localhost:8080/comonitor/download/csv","tls":"","persist":false,"proxy":"","authType":"","x":860,"y":2400,"wires":[[]]},{"id":"5cc9a06c.64dbe","type":"ui_form","z":"b5468572.52eb68","name":"Neuen Sensor hinzufügen Eingabe","label":"<font size=5>Hinzufügen eines Sensors","group":"40e96918.196f78","order":4,"width":7,"height":4,"options":[{"label":"Mac-Addresse","value":"macaddrs","type":"text","required":true},{"label":"Sensor Name","value":"name","type":"text","required":true}],"formValue":{"macaddrs":"","name":""},"payload":"","submit":"Hinzufügen","cancel":"Abbrechen","topic":"Hinzufügen eines Sensors","x":400,"y":3800,"wires":[["ac193300.a07f08","cd287f77.c536e8"]]},{"id":"f97cab13.ed608","type":"ui_button","z":"b5468572.52eb68","name":"Zurück Button","group":"40e96918.196f78","order":2,"width":2,"height":1,"passthru":false,"label":"<font size=4>Zurück","tooltip":"","color":"white","bgcolor":"darkred","icon":"","payload":"{\"group\":{\"hide\":[\"Home_Übersicht\",\"Home_Akkustand_der_Sensoren\",\"Home_Download\",\"Home_Messung\",\"Home_Hinzufügen_oder_Löschen\"],\"show\":[\"Home_Kalibrierung\",\"Home_Menü_Buttons\"]}}","payloadType":"json","topic":"","x":720,"y":340,"wires":[["f7865f38.2c83a"]]},{"id":"719bc8ef.a4edf","type":"ui_button","z":"b5468572.52eb68","name":"Sensor Hinzufügen und Löschen Button","group":"db05c47f.cbbfe","order":26,"width":5,"height":2,"passthru":false,"label":"<font size=4>Sensor Hinzufügen <br>oder Löschen","tooltip":"","color":"white","bgcolor":"red","icon":"","payload":"{\"group\":{\"hide\":[\"Home_Übersicht\",\"Home_Akkustand_der_Sensoren\",\"Home_Download\",\"Home_Messung\",\"Home_Kalibrierung\"],\"show\":[\"Home_Hinzufügen_oder_Löschen\",\"Home_Menü_Buttons\"]}}","payloadType":"json","topic":"","x":640,"y":300,"wires":[["f7865f38.2c83a"]]},{"id":"658b580.8a09328","type":"ui_text","z":"b5468572.52eb68","d":true,"group":"40e96918.196f78","order":14,"width":15,"height":1,"name":"dummy löschen und hinzufügen","label":"","format":"{{msg.payload}}","layout":"row-spread","x":390,"y":3720,"wires":[]},{"id":"e121c1b.606be4","type":"http request","z":"b5468572.52eb68","name":"Status der Sensoren GET","method":"GET","ret":"txt","paytoqs":false,"url":"localhost:8080/comonitor/sensors/status","tls":"","persist":false,"proxy":"","authType":"","x":330,"y":2840,"wires":[["45c5e731.5411a8"]]},{"id":"45c5e731.5411a8","type":"json","z":"b5468572.52eb68","name":"","property":"payload","action":"","pretty":false,"x":530,"y":2840,"wires":[["7269b8c7.e59238","d68ed24a.d3fae"]]},{"id":"49aed2d4.dcbd04","type":"function","z":"b5468572.52eb68","name":"Laufenden Messung","func":"var msg1 = { payload: msg.payload.activ };\n\nreturn[ msg1 ];","outputs":1,"noerr":0,"x":640,"y":1640,"wires":[["1401811a.f7264f"]]},{"id":"dbcebfae.3eb768","type":"ui_ui_control","z":"b5468572.52eb68","name":"","events":"all","x":120,"y":2780,"wires":[["e121c1b.606be4"]]},{"id":"99b6c499.5734a8","type":"http request","z":"b5468572.52eb68","name":"LED und Text Zustand GET","method":"GET","ret":"txt","paytoqs":false,"url":"localhost:8080/comonitor/status/system","tls":"","persist":false,"proxy":"","authType":"","x":460,"y":620,"wires":[["1b10af28.08feb9"]]},{"id":"1b10af28.08feb9","type":"json","z":"b5468572.52eb68","name":"","property":"payload","action":"","pretty":false,"x":670,"y":620,"wires":[["96260a1f.08f078","7d214e06.4de6c8","413071f2.7606d"]]},{"id":"3e011247.189afe","type":"comment","z":"b5468572.52eb68","name":"Button Kontroll Menü","info":"Die \"inject node\" injiziert das Layout beim Start\n\n\nDie Buttons initialiesieren bei ausführung ein JSON Code.","x":380,"y":100,"wires":[]},{"id":"487e1fd0.6d2828","type":"comment","z":"b5468572.52eb68","name":"Gaugen Wert","info":"Werte werden über eine GET Anfrage \nPfad: localhost:8080/comonitor/sensors/battery\nabgefragt und der dementsprechenden Gauge zugeordnet.","x":350,"y":940,"wires":[]},{"id":"67908f7c.f21d3","type":"comment","z":"b5468572.52eb68","name":"LED und Message","info":"Die LED Function leitet den Zustand (bool) an die LED weiter.\n\nDie Message Function leitet die Nachricht (string) an die dementsprechende Node weiter.","x":330,"y":500,"wires":[]},{"id":"68e7947.9c02e6c","type":"comment","z":"b5468572.52eb68","name":"Anzeigein der Übersicht","info":"Die Anzeigen in der Gruppe Status werden über eine Get Anfrage \nPfad: localhost:8080/comonitor/session/sessioninfo\nabgefragt.","x":160,"y":1420,"wires":[]},{"id":"7269b8c7.e59238","type":"function","z":"b5468572.52eb68","name":"Kalibrierung Sensor ","func":"var msg1 = { payload: msg.payload[0].status };\nvar msg2 = { payload: msg.payload[1].status };\nvar msg3 = { payload: msg.payload[2].status };\nvar msg4 = { payload: msg.payload[3].status };\nreturn [ msg1, msg2, msg3 , msg4 ];","outputs":4,"noerr":0,"x":750,"y":2840,"wires":[["1a256ea6.fdc899"],["cddb21df.75422"],["e73123f5.337e4"],["57b83ad6.b487cc"]]},{"id":"1a256ea6.fdc899","type":"function","z":"b5468572.52eb68","name":"Color Mapping Sensor 1","func":"switch (msg.payload) {\n\ncase \"kalibriert\" : \n    msg.color = \"lime\";\n    break;\n    \ncase \"kalibriere ...\" : \n    msg.color = \"yellow\";\n    break;\n    \ncase \"nicht kalibriert\" : \n    msg.color = \"red\";\n    break;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":2720,"wires":[["d5dfb5d9.2c80b"]]},{"id":"df5b744c.6c6ff","type":"ui_form","z":"b5468572.52eb68","name":"Löschen der Sensoren","label":"<font size=5>Löschen eines Sensors","group":"40e96918.196f78","order":6,"width":7,"height":6,"options":[{"label":"Sensor 1","value":"sen1","type":"switch","required":false},{"label":"Sensor 2","value":"sen2","type":"switch","required":false},{"label":"Sensor 3","value":"sen3","type":"switch","required":false},{"label":"Sensor 4","value":"sen4","type":"switch","required":false}],"formValue":{"sen1":false,"sen2":false,"sen3":false,"sen4":false},"payload":"","submit":"Löschen","cancel":"Abbrechen","topic":"Löschen der Sensoren","x":360,"y":3920,"wires":[["9f402141.48c2d"]]},{"id":"2ebf7fc6.f536d","type":"function","z":"b5468572.52eb68","name":"Color Mapping","func":"switch (msg.payload) {\n\ncase \"Es läuft eine Messung!\" : \n    msg.color = \"lime\";\n    break;\n    \n\ncase \"Es läuft keine Messung!\" : \n    msg.color = \"red\";\n    break;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1320,"y":1640,"wires":[["66a448a8.1cfdd"]]},{"id":"66a448a8.1cfdd","type":"ui_text","z":"b5468572.52eb68","group":"dcb2379c.562f08","order":10,"width":5,"height":1,"name":"Messung Zustand","label":"","format":"<font size=4><font color={{msg.color}}>{{msg.payload}}","layout":"row-center","x":1530,"y":1640,"wires":[]},{"id":"1401811a.f7264f","type":"switch","z":"b5468572.52eb68","name":"Zustand Messung aktiv","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":890,"y":1640,"wires":[["221f919b.577a5e"],["bbbcf5f4.b148c"]]},{"id":"221f919b.577a5e","type":"change","z":"b5468572.52eb68","name":"Messung aktiv","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"Es läuft eine Messung!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1120,"y":1600,"wires":[["2ebf7fc6.f536d"]]},{"id":"bbbcf5f4.b148c","type":"change","z":"b5468572.52eb68","name":"Messung inaktiv","rules":[{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"Es läuft keine Messung!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1120,"y":1680,"wires":[["2ebf7fc6.f536d"]]},{"id":"6a471041.ddb008","type":"debug","z":"b5468572.52eb68","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":750,"y":1920,"wires":[]},{"id":"cd287f77.c536e8","type":"debug","z":"b5468572.52eb68","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":730,"y":3740,"wires":[]},{"id":"7f5b05c1.38cf14","type":"comment","z":"b5468572.52eb68","name":"Übersicht Function","info":"Hier werden die relevanten Daten an die dementsprechenden Nodes weitergeleitet.","x":810,"y":1400,"wires":[]},{"id":"d68ed24a.d3fae","type":"debug","z":"b5468572.52eb68","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":770,"y":2760,"wires":[]},{"id":"c4cf4216.79fb1","type":"comment","z":"b5468572.52eb68","name":"Download RAW und CSV ","info":"","x":330,"y":2260,"wires":[]},{"id":"e1eb9019.76b138","type":"change","z":"7165890a.d28d3","d":true,"name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"kalibriert","fromt":"str","to":"kalibriert","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":357.4285583496094,"y":248.8571319580078,"wires":[[]]},{"id":"10f2be4b.42b89a","type":"change","z":"7165890a.d28d3","d":true,"name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"nicht kalibriert","fromt":"str","to":"nicht kalibriert","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":357.4285583496094,"y":328.8571319580078,"wires":[[]]},{"id":"335fbce.7b732c4","type":"change","z":"7165890a.d28d3","d":true,"name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"nicht gefunden","fromt":"str","to":"nicht gefunden","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":357.4285583496094,"y":288.8571319580078,"wires":[[]]},{"id":"b8e7e92b.0717a8","type":"switch","z":"7165890a.d28d3","d":true,"name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"kalibriert","vt":"str"},{"t":"eq","v":"nicht gefunden","vt":"str"},{"t":"eq","v":"nicht kalibriert","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":107.42855834960938,"y":288.8571319580078,"wires":[["e1eb9019.76b138"],["335fbce.7b732c4"],["10f2be4b.42b89a"]]},{"id":"cddb21df.75422","type":"function","z":"b5468572.52eb68","name":"Color Mapping Sensor 2","func":"switch (msg.payload) {\n\ncase \"kalibriert\" : \n    msg.color = \"lime\";\n    break;\n    \ncase \"kalibriere ...\" : \n    msg.color = \"yellow\";\n    break;\n    \ncase \"nicht kalibriert\" : \n    msg.color = \"red\";\n    break;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":2800,"wires":[["6a149674.f9ab18"]]},{"id":"e73123f5.337e4","type":"function","z":"b5468572.52eb68","name":"Color Mapping Sensor 3","func":"switch (msg.payload) {\n\ncase \"kalibriert\" : \n    msg.color = \"lime\";\n    break;\n    \ncase \"kalibriere ...\" : \n    msg.color = \"yellow\";\n    break;\n    \ncase \"nicht kalibriert\" : \n    msg.color = \"red\";\n    break;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":2880,"wires":[["8b98e8b5.57f7a"]]},{"id":"57b83ad6.b487cc","type":"function","z":"b5468572.52eb68","name":"Color Mapping Sensor 4","func":"switch (msg.payload) {\n\ncase \"kalibriert\" : \n    msg.color = \"lime\";\n    break;\n    \ncase \"kalibriere ...\" : \n    msg.color = \"yellow\";\n    break;\n    \ncase \"nicht kalibriert\" : \n    msg.color = \"red\";\n    break;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":2960,"wires":[["e5e85326.e54b98"]]},{"id":"f6e4b898.d4cdd","type":"comment","z":"b5468572.52eb68","name":"Fragt den Momentanen Kalibrierungszustand ab","info":"","x":480,"y":2760,"wires":[]},{"id":"bbc41b5d.8c53c8","type":"comment","z":"b5468572.52eb68","name":"Zeigt den Namen des Sensors an (ID)","info":"","x":610,"y":3440,"wires":[]},{"id":"5360941a.bb757c","type":"http request","z":"b5468572.52eb68","name":"Hinzufügen Sensor POST","method":"POST","ret":"txt","paytoqs":false,"url":"localhost:8080/comonitor/sensors","tls":"","persist":false,"proxy":"","authType":"","x":990,"y":3800,"wires":[["1da7a43c.101c8c"]]},{"id":"ac193300.a07f08","type":"json","z":"b5468572.52eb68","name":"","property":"payload","action":"","pretty":false,"x":730,"y":3800,"wires":[["7b550342.797084","5360941a.bb757c"]]},{"id":"a81c24e1.9e305","type":"comment","z":"b5468572.52eb68","name":"Hinzufügen eines Sensors","info":"","x":730,"y":3680,"wires":[]},{"id":"7b550342.797084","type":"debug","z":"b5468572.52eb68","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":950,"y":3740,"wires":[]},{"id":"9f402141.48c2d","type":"json","z":"b5468572.52eb68","name":"","property":"payload","action":"","pretty":false,"x":610,"y":3920,"wires":[["700fbbd3.92f684"]]},{"id":"700fbbd3.92f684","type":"http request","z":"b5468572.52eb68","name":"Löschen eines Sensors DELETE","method":"DELETE","ret":"txt","paytoqs":false,"url":"localhost:8080/comonitor/sensors","tls":"","persist":false,"proxy":"","authType":"","x":880,"y":3920,"wires":[["b21fce74.ef5b28"]]},{"id":"5133686b.a5183","type":"comment","z":"b5468572.52eb68","name":"Löschen von Sensoren","info":"gibt ein JSON aus: \n{\"sen1\":true,\"sen2\":false,\"sen3\":false,\"sen4\":false}","x":720,"y":3980,"wires":[]},{"id":"96260a1f.08f078","type":"debug","z":"b5468572.52eb68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":670,"y":500,"wires":[]},{"id":"7d214e06.4de6c8","type":"function","z":"b5468572.52eb68","name":"LED   function","func":"var msg1 = { payload: msg.payload.green };\nvar msg2 = { payload: msg.payload.yellow };\nvar msg3 = { payload: msg.payload.red };\n\nreturn [ msg1, msg2, msg3 ] ;","outputs":3,"noerr":0,"x":850,"y":540,"wires":[["7f80a83b.27f5d8"],["56e1cfc3.67d95"],["b3838a4f.322d6"]]},{"id":"848d07b.d7ec778","type":"json","z":"7165890a.d28d3","name":"","property":"payload","action":"","pretty":false,"x":150,"y":880,"wires":[["e4739475.475598","1c477639.36c90a"]]},{"id":"e4739475.475598","type":"function","z":"7165890a.d28d3","name":"LED function","func":"var msg1 = { payload: msg.payload.warning };\n\nreturn [ msg1 ] ;","outputs":1,"noerr":0,"x":330,"y":880,"wires":[["35fea2d1.9ff0d6"]]},{"id":"1052f705.74d721","type":"change","z":"7165890a.d28d3","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"green","fromt":"str","to":"Keine Fehler","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":660,"wires":[[]]},{"id":"ecef2478.3415f8","type":"change","z":"7165890a.d28d3","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"yellow","fromt":"str","to":"Batteriestand Sensor","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":800,"wires":[[]]},{"id":"5d5fd921.3f2758","type":"change","z":"7165890a.d28d3","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"green","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":740,"wires":[[]]},{"id":"35fea2d1.9ff0d6","type":"switch","z":"7165890a.d28d3","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"green","vt":"str"},{"t":"eq","v":"yellow","vt":"str"},{"t":"eq","v":"red","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":510,"y":880,"wires":[["1052f705.74d721","47f5c35e.78f89c","5d5fd921.3f2758"],["ecef2478.3415f8","79b4e03c.a19298","81288b32.49fe9"],["e709f48c.a0af98","fdf30c6e.d23ce8","d2e7586c.10fa28"]]},{"id":"47f5c35e.78f89c","type":"change","z":"7165890a.d28d3","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"green","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":700,"wires":[[]]},{"id":"79b4e03c.a19298","type":"change","z":"7165890a.d28d3","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"yellow","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":840,"wires":[[]]},{"id":"81288b32.49fe9","type":"change","z":"7165890a.d28d3","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"yellow","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":880,"wires":[[]]},{"id":"e709f48c.a0af98","type":"change","z":"7165890a.d28d3","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"red","fromt":"str","to":"Keine Fehler","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":940,"wires":[[]]},{"id":"fdf30c6e.d23ce8","type":"change","z":"7165890a.d28d3","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"red","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":980,"wires":[[]]},{"id":"d2e7586c.10fa28","type":"change","z":"7165890a.d28d3","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"red","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":1020,"wires":[[]]},{"id":"1c477639.36c90a","type":"debug","z":"7165890a.d28d3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":290,"y":760,"wires":[]},{"id":"413071f2.7606d","type":"function","z":"b5468572.52eb68","name":"Message Function","func":"var msg1 = { payload: msg.payload.greenmsg };\nvar msg2 = { payload: msg.payload.yellowmsg };\nvar msg3 = { payload: msg.payload.redmsg };\n\nreturn [ msg1, msg2, msg3 ] ;","outputs":3,"noerr":0,"x":850,"y":720,"wires":[["ed9cc7c5.aec8c"],["7d3b34a3.e7ea2c"],["afb94803.2bc57","aad90729.992de"]]},{"id":"afb94803.2bc57","type":"debug","z":"b5468572.52eb68","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":900,"y":860,"wires":[]},{"id":"ae66ffb1.2a46f","type":"ui_button","z":"b5468572.52eb68","name":"Button Kalibrieren 1","group":"db05c47f.cbbfe","order":3,"width":3,"height":1,"passthru":false,"label":"kalibriere","tooltip":"Startet die kalibrirung des Sensors","color":"white","bgcolor":"purple","icon":"","payload":"\"sen1\"","payloadType":"json","topic":"","x":390,"y":3120,"wires":[["d3122487.a5a07","eec3941c.3207","a47ed7fd.9ef8f8"]]},{"id":"82c676d9.c63048","type":"ui_button","z":"b5468572.52eb68","name":"Button Kalibrieren 2","group":"db05c47f.cbbfe","order":8,"width":3,"height":1,"passthru":false,"label":"kalibriere","tooltip":"Startet die kalibrirung des Sensors","color":"white","bgcolor":"purple","icon":"","payload":"\"sen2\"","payloadType":"json","topic":"","x":390,"y":3160,"wires":[["d3122487.a5a07","eec3941c.3207","a47ed7fd.9ef8f8"]]},{"id":"6e3efc70.6848dc","type":"ui_button","z":"b5468572.52eb68","name":"Button Kalibrieren 3","group":"db05c47f.cbbfe","order":13,"width":3,"height":1,"passthru":false,"label":"kalibriere","tooltip":"Startet die kalibrirung des Sensors","color":"white","bgcolor":"purple","icon":"","payload":"\"sen3\"","payloadType":"json","topic":"","x":390,"y":3200,"wires":[["d3122487.a5a07","eec3941c.3207","a47ed7fd.9ef8f8"]]},{"id":"a95f9be1.5c3ba","type":"ui_button","z":"b5468572.52eb68","name":"Button Kalibrieren 4","group":"db05c47f.cbbfe","order":18,"width":3,"height":1,"passthru":false,"label":"kalibriere","tooltip":"Startet die kalibrirung des Sensors","color":"white","bgcolor":"purple","icon":"","payload":"\"sen4\"","payloadType":"json","topic":"","x":390,"y":3240,"wires":[["d3122487.a5a07","eec3941c.3207","a47ed7fd.9ef8f8"]]},{"id":"e586d10d.accab8","type":"comment","z":"b5468572.52eb68","name":"Button Für die Kalibrierung","info":"","x":370,"y":3060,"wires":[]},{"id":"d3122487.a5a07","type":"http request","z":"b5468572.52eb68","name":"Kalibriere PUT Anforderung","method":"PUT","ret":"txt","paytoqs":false,"url":"localhost:8080/comonitor/sensors/calibration","tls":"","persist":false,"proxy":"","authType":"","x":840,"y":3160,"wires":[[]]},{"id":"d98a697e.763ba","type":"comment","z":"b5468572.52eb68","name":"PUT Anweisung","info":"","x":860,"y":3200,"wires":[]},{"id":"afea13f3.fc3268","type":"function","z":"b5468572.52eb68","d":true,"name":"JSON stringify","func":"var data = { payload: msg.payload };\nnode.log(typeof data);\nmsg.payload= JSON.stringify(data);\nreturn data;","outputs":1,"noerr":0,"x":720,"y":3300,"wires":[[]]},{"id":"4561eb97.20fc5c","type":"debug","z":"b5468572.52eb68","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1150,"y":2160,"wires":[]},{"id":"202fe306.914354","type":"ui_toast","z":"b5468572.52eb68","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"Beenden...","name":"","x":1770,"y":2040,"wires":[[]]},{"id":"67381d9c.279f4c","type":"change","z":"b5468572.52eb68","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"OK","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1190,"y":2100,"wires":[["863b7237.3b517"]]},{"id":"50ea7fa9.7a3ac8","type":"debug","z":"b5468572.52eb68","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1750,"y":2140,"wires":[]},{"id":"b21fce74.ef5b28","type":"ui_toast","z":"b5468572.52eb68","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1190,"y":3920,"wires":[[]]},{"id":"1da7a43c.101c8c","type":"ui_toast","z":"b5468572.52eb68","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1230,"y":3800,"wires":[[]]},{"id":"415bf66d.c5a74","type":"ui_text","z":"b5468572.52eb68","d":true,"group":"ff1aaa60.5cb458","order":17,"width":1,"height":1,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":630,"y":1840,"wires":[]},{"id":"f0b61ebe.713ff8","type":"ui_toast","z":"b5468572.52eb68","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1390,"y":1980,"wires":[[]]},{"id":"337e1893.69ca58","type":"template","z":"7165890a.d28d3","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<form method = \"get\" action=\"localhost:8080/comonitor/download/csv\">\n    <button type=\"submit\">CSV</button>\n    \n    \n</form>","output":"str","x":780,"y":1400,"wires":[["e3029071.0b39d"]]},{"id":"74b0df50.8dcc18","type":"debug","z":"7165890a.d28d3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":950,"y":1480,"wires":[]},{"id":"adeb00cb.89f608","type":"debug","z":"7165890a.d28d3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":950,"y":1540,"wires":[]},{"id":"e3029071.0b39d","type":"debug","z":"7165890a.d28d3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":990,"y":1400,"wires":[]},{"id":"887f8e91.a26828","type":"ui_button","z":"7165890a.d28d3","name":"CSV","group":"6287942d.e3c16c","order":5,"width":6,"height":3,"passthru":false,"label":"<a target=\"_blank\" href=\"localhost:8080/comonitor/download/csv\">CSV</a>   <font size=5>Download Excel Datei","tooltip":"","color":"white","bgcolor":"#66CD00","icon":"","payload":"","payloadType":"str","topic":"Download .csv","x":330,"y":1480,"wires":[[]]},{"id":"db4a676f.77ad98","type":"ui_template","z":"7165890a.d28d3","group":"6287942d.e3c16c","name":"","order":0,"width":0,"height":0,"format":"<div>\n    <a href=\"localhost:8080/comonitor/download/csv\"><span>localhost:8080/comonitor/download/csv</span></a>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":720,"y":1280,"wires":[[]]},{"id":"bc30671f.8e4658","type":"ui_text","z":"b5468572.52eb68","d":true,"group":"e9a39812.d14df8","order":20,"width":1,"height":1,"name":"","label":"","format":"","layout":"row-spread","x":550,"y":2460,"wires":[]},{"id":"3d48da68.f7fd26","type":"change","z":"7165890a.d28d3","name":"","rules":[{"t":"set","p":"headers['Content-Disposition']","pt":"msg","to":"attachment; filename=csv.zip","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":1280,"wires":[[]]},{"id":"5fa1b3c8.c709cc","type":"inject","z":"7165890a.d28d3","name":"Send file Command","topic":"Command to send file","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":430,"y":1760,"wires":[["37a54dae.f07302"]]},{"id":"b2c01995.995a98","type":"debug","z":"7165890a.d28d3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":970,"y":1760,"wires":[]},{"id":"2d756c7a.0efaa4","type":"file","z":"7165890a.d28d3","name":"data","filename":"C:\\Users\\just9\\Desktop\\data\\data.xlsx","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":950,"y":1820,"wires":[[]]},{"id":"37a54dae.f07302","type":"file in","z":"7165890a.d28d3","name":"data","filename":"C:\\Users\\just9\\Desktop\\data\\data.xlsx","format":"stream","chunk":false,"sendError":false,"encoding":"none","x":730,"y":1760,"wires":[["2d756c7a.0efaa4","b2c01995.995a98"]]},{"id":"d1f06778.90cce","type":"debug","z":"7165890a.d28d3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":860,"y":1920,"wires":[]},{"id":"e984878c.9f63b","type":"ui_template","z":"7165890a.d28d3","group":"6287942d.e3c16c","name":"","order":2,"width":"5","height":"3","format":"<style>\n\n\n}\n.btn {\n    background-color: #66CD00;\n    color: grey;\n    width: 300px;\n    height: 200px;\n    display:inline-block;\n    text-align:center;\n}\n\n</style>\n\n<button type=\"btn\" class = \"btn\" onClick=\"parent.location='http://localhost:8080/comonitor/download/csv'\" >\n\n</button>\n\n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":800,"y":2160,"wires":[[]]},{"id":"239f82ac.3bd94e","type":"http response","z":"7165890a.d28d3","name":"","statusCode":"","headers":{},"x":1030,"y":1620,"wires":[]},{"id":"26b4518c.2fc42e","type":"change","z":"7165890a.d28d3","name":"","rules":[{"t":"set","p":"headers['Content-Disposition']","pt":"msg","to":"attachment; filename=csv.zip","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":1620,"wires":[["239f82ac.3bd94e"]]},{"id":"9a7c331b.b159b","type":"file","z":"7165890a.d28d3","name":"results.csv","filename":"/results.csv","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":490,"y":1620,"wires":[["26b4518c.2fc42e"]]},{"id":"ab05e10e.81bac","type":"file","z":"7165890a.d28d3","name":"","filename":"/home/pi/RawMachineData.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","x":430,"y":1900,"wires":[[]]},{"id":"613877c.8b50b08","type":"exec","z":"7165890a.d28d3","command":"rm /home/pi/RawMachineData.csv","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":440,"y":1980,"wires":[[],[],[]]},{"id":"5cf9be9.f8f58c","type":"file in","z":"7165890a.d28d3","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":350,"y":2080,"wires":[[]]},{"id":"cf16cdfd.f7a4d8","type":"ui_template","z":"7165890a.d28d3","d":true,"group":"6287942d.e3c16c","name":"","order":3,"width":0,"height":0,"format":"<button type=\"button\" class = \"eb1\" onClick=\"parent.location='http://127.0.0.1:1880/nrhttp/f1.html'\" ></button>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":860,"y":2260,"wires":[[]]},{"id":"ba31c53a.c56cb","type":"ui_template","z":"7165890a.d28d3","group":"6287942d.e3c16c","name":"Download Button","order":3,"width":"6","height":"3","format":"\n\n\n\n<button type=\"button\" class = \"btn\" style=\"background-color:#66CD00\"; onClick=\"parent.location='http://localhost:8080/comonitor/download/csv'\" >\n\n     DOWNLOAD CSV  \n    \n</button>\n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":550,"y":2160,"wires":[[]]},{"id":"18c12bb4.7c57ec","type":"ui_template","z":"7165890a.d28d3","d":true,"group":"6287942d.e3c16c","name":"","order":2,"width":"5","height":"3","format":"<html>\n<head>\n<style>\n\n\n}\n.btn {\n    background-color: #66CD00;\n    border: none;\n    color: grey;\n    padding: 10px 00px;\n    text-align: center;\n    text-decoration: none;\n    display: inline-block;\n    font-size: 45px;\n    margin: 4px 2px;\n    cursor: pointer;\n}\n\n</style>\n</head>\n\n\n\n<button type=\"btn\" class = \"btn\" onClick=\"parent.location='http://localhost:8080/comonitor/download/csv'\" >\n\n</button>\n\n\n</html>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":840,"y":2300,"wires":[[]]},{"id":"e94c5867.54e518","type":"ui_template","z":"7165890a.d28d3","group":"6287942d.e3c16c","name":"Download CSV","order":3,"width":"6","height":"3","format":"\n<md-button class=\"filled touched bigfont rounded vibrate\" style=\"background-color:#66CD00\" onClick=\"parent.location='http://localhost:8080/comonitor/download/csv'\"> \n    DOWNLOAD CSV\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":540,"y":2240,"wires":[[]]},{"id":"7d95a62d.825fb","type":"ui_template","z":"7165890a.d28d3","group":"6287942d.e3c16c","name":"stuff","order":0,"width":"0","height":"0","format":"<style>\n  .filled { \n      height: 100% !important;\n\n      padding: 0 !important;\n      margin: 0 !important;\n  }\n  .nr-dashboard-template {\n      padding: 0;\n      margin: 0;\n  }\n  \n  .rounded {\n  border-radius: 12px 12px 12px 12px;\n}\n \n   .bigfont {\n  font-size: 18px;\n}\n\n   .smallfont {\n  font-size: 12px;\n}\n  \n</style>\n\n<script>\n$('.vibrate').on('click', function() {\n  navigator.vibrate(100);\n});\n\nfunction restore_bg(x) {\n            $(this).css(\"background-color\", x);\n    };\n\n$('.touched').on('mousedown', function() {\n    \n    var x= $(this).css(\"background-color\");\n    $(this).css(\"background-color\", \"yellow\");\n    \n    setTimeout(restore_bg.bind(this,x),100);\n    navigator.vibrate(80);\n    });\n    \n</script>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":730,"y":2220,"wires":[[]]},{"id":"bd9254d2.654098","type":"ui_template","z":"7165890a.d28d3","d":true,"group":"6287942d.e3c16c","name":"Download Button","order":3,"width":"6","height":"3","format":"\n\n\n\n<button type=\"button\" class = \"btn\" style=\"background-color:#66CD00\",\"height: 200px\"; onClick=\"parent.location='http://localhost:8080/comonitor/download/csv'\" >\n\n     DOWNLOAD CSV  \n    \n</button>\n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":870,"y":2340,"wires":[[]]},{"id":"18b751e2.150f3e","type":"ui_template","z":"b5468572.52eb68","group":"e9a39812.d14df8","name":"Download CSV","order":6,"width":6,"height":3,"format":"\n<md-button class=\"filled touched bigfont rounded vibrate\" style=\"background-color:#66CD00\" onClick=\"parent.location='http://localhost:8080/comonitor/download/csv'\"> \n   AUSWERTUNG EXCEL <br>(CSV)\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":520,"y":2400,"wires":[[]]},{"id":"3099f996.24826e","type":"ui_template","z":"b5468572.52eb68","group":"e9a39812.d14df8","name":"Download JSON","order":8,"width":6,"height":3,"format":"\n<md-button class=\"filled touched bigfont rounded vibrate\" style=\"background-color:#66CD00\" onClick=\"parent.location='http://localhost:8080/comonitor/download/raw'\"> \n    ROHDATEN <br>(JSON)\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":520,"y":2340,"wires":[[]]},{"id":"d9c55b2a.54e3e","type":"ui_template","z":"b5468572.52eb68","group":"e9a39812.d14df8","name":"style und script","order":1,"width":0,"height":0,"format":"<style>\n  .filled { \n      height: 100% !important;\n\n      padding: 0 !important;\n      margin: 0 !important;\n  }\n  .nr-dashboard-template {\n      padding: 0;\n      margin: 0;\n  }\n  \n  .rounded {\n  border-radius: 12px 12px 12px 12px;\n}\n \n   .bigfont {\n  font-size: 26px;\n}\n\n   .smallfont {\n  font-size: 12px;\n}\n  \n</style>\n\n<script>\n$('.vibrate').on('click', function() {\n  navigator.vibrate(500);\n});\n\nfunction restore_bg(x) {\n            $(this).css(\"background-color\", x);\n    };\n\n$('.touched').on('mousedown', function() {\n    \n    var x= $(this).css(\"background-color\");\n    $(this).css(\"background-color\", \"yellow\");\n    \n    setTimeout(restore_bg.bind(this,x),500);\n    navigator.vibrate(80);\n    });\n    \n</script>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":860,"y":2460,"wires":[[]]},{"id":"fdebfbcc.547a7","type":"ui_button","z":"b5468572.52eb68","name":"Aktualisieren Übersicht","group":"ff1aaa60.5cb458","order":13,"width":6,"height":1,"passthru":false,"label":"<font size=4>Aktualisieren","tooltip":"","color":"white","bgcolor":"grey","icon":"loop","payload":"","payloadType":"str","topic":"","x":180,"y":1060,"wires":[["dc06274f.ee9a18","69807120.04f7","99b6c499.5734a8"]]},{"id":"fb76f9d9.9b6a1","type":"ui_button","z":"b5468572.52eb68","name":"Aktualisieren Kalibrierung","group":"db05c47f.cbbfe","order":23,"width":5,"height":1,"passthru":false,"label":"<font size=4>Aktualisieren","tooltip":"","color":"white","bgcolor":"grey","icon":"loop","payload":"","payloadType":"str","topic":"","x":130,"y":3240,"wires":[["9a7a8b88.0b866","e121c1b.606be4"]]},{"id":"23577ef5.ac2e82","type":"ui_button","z":"b5468572.52eb68","name":"Aktualisieren Messung","group":"dcb2379c.562f08","order":20,"width":5,"height":1,"passthru":false,"label":"<font size=4>Aktualisieren","tooltip":"","color":"white","bgcolor":"grey","icon":"loop","payload":"","payloadType":"str","topic":"","x":140,"y":1260,"wires":[["dc06274f.ee9a18","69807120.04f7"]]},{"id":"eec3941c.3207","type":"delay","z":"b5468572.52eb68","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":620,"y":2960,"wires":[["e121c1b.606be4"]]},{"id":"a47ed7fd.9ef8f8","type":"delay","z":"b5468572.52eb68","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":620,"y":3000,"wires":[["e121c1b.606be4"]]},{"id":"cb85d595.7cc6c","type":"debug","z":"b5468572.52eb68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1360,"y":1920,"wires":[]},{"id":"56e1cfc3.67d95","type":"ui_led","z":"b5468572.52eb68","group":"ff1aaa60.5cb458","order":4,"width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"lime","value":"true","valueType":"bool"},{"color":"null","value":"false","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"LED Grün","x":1060,"y":520,"wires":[]},{"id":"b3838a4f.322d6","type":"ui_led","z":"b5468572.52eb68","group":"ff1aaa60.5cb458","order":7,"width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"true","valueType":"bool"},{"color":"null","value":"false","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"LED Red","x":1060,"y":560,"wires":[]},{"id":"7d3b34a3.e7ea2c","type":"ui_text","z":"b5468572.52eb68","group":"ff1aaa60.5cb458","order":5,"width":7,"height":1,"name":"Nachricht Ampel grün","label":"","format":"<font size=5><font color=lime>{{msg.payload}}","layout":"col-center","x":1100,"y":720,"wires":[]},{"id":"aad90729.992de","type":"ui_text","z":"b5468572.52eb68","group":"ff1aaa60.5cb458","order":8,"width":7,"height":1,"name":"Nachricht Ampel rot","label":"","format":"<font size=5><font color=red>{{msg.payload}}","layout":"col-center","x":1090,"y":760,"wires":[]},{"id":"a8bc93ae.1e312","type":"inject","z":"b5468572.52eb68","name":"","topic":"","payload":"Kritischer Fehler","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":720,"y":780,"wires":[["aad90729.992de"]]},{"id":"da11daa.1cf41a8","type":"inject","z":"b5468572.52eb68","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":870,"y":440,"wires":[["b3838a4f.322d6"]]},{"id":"76c9783b.b6b268","type":"inject","z":"b5468572.52eb68","name":"","topic":"","payload":"Es läuft eine Messung!","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1200,"y":1740,"wires":[["2ebf7fc6.f536d"]]},{"id":"ebc00d77.f7d51","type":"inject","z":"b5468572.52eb68","name":"","topic":"","payload":"70","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1050,"y":900,"wires":[["5f5a5525.68cfd4"]]}]